target/classes/structing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="structingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/stru" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="propertyFlow" doc:name="propertyFlow"/>
        <flow-ref name="variableSub_Flow" doc:name="variableSub_Flow"/>
        <set-payload value="Name:#[message.outboundProperties.Name]

Age:#[sessionVars.Age]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
